* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'courier new', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  height: 100vh;
}

p, #score, #play-area {
  margin-bottom: 10px;
}

#score, #results {
  font-weight: bold;
}

button {
  cursor: pointer;
  padding: 5px 10px;
}

h1, h3 {
  max-width: 90vw;
  text-align: center;
}

h1 {
  font-size: 2em;
  margin-bottom: .5em;
}

h3 {
  font-size: 1.2em;
  font-weight:300;
  margin-bottom: 1em;
}

#play-area .right-container button {
  cursor: auto;
}

#buttons,
#play-area .right-container {
  display: flex;
  justify-content: space-evenly;
}

#buttons button,
#play-area .right-container button {
  border: none;
  background: none;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 0;
  height: 48px;
  width: 48px;
  padding: 0 10px;
}

#buttons button.rock, 
#play-area .right-container button.rock {
  background-image: url('img/rock.png');
}

#buttons button.paper,
#play-area .right-container button.paper {
  background-image: url('img/paper.png');
}

#buttons button.scissors,
#play-area .right-container button.scissors {
  background-image: url('img/scissors.png');
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: inherit;
}

#score, #play-area, #results {
  display: flex;
  justify-content: center;
  width: 90vw;
}

#play-area {
  border: 1px dashed #000;
  padding: 40px 0;
}

#play-area .right-container {
  border-left: 1px dashed #000;
}

.left-container, .right-container {
  text-align: center;
  width: 50%;
}

.reset {
  border: 1px dashed #000;
  background: #fff;
  border-radius: 3px;
  color: #000;
  font-family: 'courier new', sans-serif;
  font-weight: bold;
  padding: 20px 30px;
  text-transform: uppercase;
}

.hide {
  opacity: 0;
}

.show {
  opacity: 1;
}

.fade-out {
  opacity: .1;
  transition: opacity .5s ease;
}

.fade-in {
  opacity: 1;
  transition: opacity .5s ease;
}

.small {
  font-size: 11px;
  text-align: center;
  padding-bottom: 20px;
}